.file__report-button {
  background: none;
  background-image: url(../../../images/report-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 16px;
  height: 17.34px;
  border: none;
}

.file__report-button:hover {
  opacity: .6;
}