body {
  background-color: #f0f0f0;
}

.page {
  margin: auto;
  max-width: 880px;
  font-family: 'inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}